/* Normalization de ma page RESET CSS */
* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/*Styles pour toutes les pages*/
header {
    background-color: #333;
    height: 10vh;
    padding: 0rem 1.25rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.footer {
    background-color: #333;
    color: white;
    padding: 10px 0px;
    font-size: 0.8rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

a {
    color: white;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

p {
    margin: 20px 0px;
    width: 400px;
    text-align: center;
    line-height: 2pc;
}

i {
    margin-bottom: 10px;
}



ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

li {
    padding: 20px;
    transition: 0.3s ease-in-out;
}

li:hover {
    background-color: rgb(90, 90, 90);
    transition: 0.3s ease-in-out;
}

h1 {
    font-size: 1.4rem;
}

/*Page Accueil */

h2 {
    font-size: 3rem;
    max-width: 60%;
    text-align: center;
}

hr {
    width: 100px;
    height: 10px;
    margin-top: 20px;
    background-color: black;
}

.selected {
    background-color: rgb(70, 70, 70);  
}

.noMargin {
    margin: 0;
}

.fullWidth {
    width: 80%;
}

.tetePage {
    height: 100vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./images/frame.jpg);
    background-size: cover;
}

.decouvrir {
    border: unset;
    margin: 10px 0px;
    background-color: white;
    border-radius: 30px;
    padding: 15px 30px;
    color: #333;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.9rem;
}

.decouvrir:hover {
    color: white ;
    background-color: #333;
}

.reservez {
    border: unset;
    margin: 10px 0px;
    background-color: #333;
    border-radius: 30px;
    padding: 15px 30px;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.9rem;
}

.reservez:hover{
    color: #333;
    background-color: white;
    border: 1px solid #333;
}

.meuf {
    height: 420px;
    background-image: url(./images/person-1.jpg);
    background-size: cover;
    background-position: center;
}

.icones {
    width: 80%;
    margin: 4rem auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.icones div {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.colonneCentre {
    width: 80%;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Page Trouver */


.petit {
    font-size: 0.9rem;
    font-weight: 300;
}

.grand {
    margin: 15px 0px;
    font-weight: 700;
}

.ligne2 {
    width: 100%;
    height: 1px;
    margin: 10px 0px;
    background-color: rgb(214, 214, 214);
}

.rose {
    color: white;
    padding: 3px 10px;
    border-radius: 20px;
    background-color: palevioletred;
}

.brun {
    color: white;  
    padding: 3px 5px;
    border-radius: 20px;
    background-color: brown;
}

.centeredColumn {
    height: 90vh;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.explication {
    display: flex;
    flex-direction: column;
}

.centeredRow {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footerTrouver {
    background-color: #333;
    color: white;
    padding: 10px 0px;
    font-size: 0.8rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* Pages Contact */


label {
    font-weight: 700;
    margin-bottom: 10px;
}

input {
    margin-bottom: 20px;
    width: 100%;
    height: 30px;
    border-radius: 3px;
    border: 1px solid rgb(187, 187, 187);
}

textarea {
    width: 100%;
    height: 70px;
    margin-bottom: 20px;
    border-radius: 3px;
    border: 1px solid rgb(187, 187, 187);
}

h1 {
    font-size: 1.4rem;
}

.selected {
    background-color: rgb(70, 70, 70);  
}

.principal {
    width: 40%;
}


.centreContact {
    width: 100vw;
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ligne {
    width: 100%;
    height: 1px;
    margin: 15px 0px;
    background-color: rgb(214, 214, 214);
}

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footerContact {
    background-color: #333;
    color: white;
    padding: 10px 0px;
    font-size: 0.8rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


/* Adaptation du css selon l'écran */

@media screen and (min-width:300px) and (max-width: 505px){
    
    header{
        text-align: center;
        display: block;
        height: auto;
    }
    .icones div p{
        width: auto;
    }
    .icones div h3{
        text-align: center;
    }
    .centeredRow{
        display: block;
        width: auto;
    }
    .explication{
        margin-top: 1rem;
        text-align: center;
    }
}